<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corrently Current - Varta Home Storage Settings</title>
    <meta name="theme-color" content="#00880e">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="Corrently Current">
    <meta property="og:image" content="assets/img/corrently-logo.webp?h=1097915e26a69ed47314de449e2aa88a">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Corrently-Current is a quickly nailed-together something to collect and display energy data in a horrible mobile user interface">
    <meta name="twitter:image" content="assets/img/corrently-current.png?h=1d3fe3be65b3e736d243daf4b46e5ac1">
    <meta name="description" content="Connect to Varta Engion (Home Storage) via Edge">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/corrently-current_180x180.png?h=eac7c8a235716b7a7ff7803f1131739f">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/corrently-current_180x180.png?h=eac7c8a235716b7a7ff7803f1131739f">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/corrently-current_192x192.png?h=db01a6d8e7d4f2a2126cd6cb24be531e">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/corrently-current.png?h=1d3fe3be65b3e736d243daf4b46e5ac1">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=fe7fdfec700d100dc745dc64d3600cb2">
    <link rel="manifest" href="manifest.json?h=28b0a1e01fc11297206846c45fc607e3">
    <link rel="stylesheet" href="assets/css/styles.css?h=ae22eef9e11b408b73f0fd8da31c9e1e">
    <link rel="stylesheet" href="assets/css/xToggle.css?h=945018c8dc94904db8213f199900caaf">
</head>

<body style="background: rgb(20,122,80);">
    <nav class="navbar navbar-expand-lg fixed-top shadow-lg navbar-custom navbar-dark" style="background: #ffffff;margin-top: 10px;margin-bottom: 15px;">
        <div class="container"><a class="navbar-brand link-dark" href="https://corrently.io/" style="font-weight: bold;font-size: 25px;"><img class="img-fluid" src="assets/img/corrently-logo.webp?h=1097915e26a69ed47314de449e2aa88a"><span style="margin-left: 15px;"></span></a><button data-bs-toggle="collapse" class="navbar-toggler text-light text-bg-dark" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-dark" id="navbarResponsive" style="background: #ffffff;">
                <ul class="navbar-nav text-dark ms-auto">
                    <li class="nav-item text-dark"><a class="nav-link link-dark" data-bs-toggle="tooltip" data-bss-tooltip="" href="https://corrently.energy/pages/kundenservice" target="_blank" rel="external" title="Hilfe &amp; Service"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-patch-question">
                                <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"></path>
                                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"></path>
                                <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"></path>
                            </svg>&nbsp;</a></li>
                    <li class="nav-item text-dark"><a class="nav-link link-dark" data-bs-toggle="tooltip" data-bss-tooltip="" href="https://corrently.energy/policies/contact-information" target="_blank" rel="external" title="Impressum"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-info-circle">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                            </svg>&nbsp;</a></li>
                </ul>
            </div><span class="badge bg-success" id="connectionState"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-right-fill">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                </svg></span>
        </div>
    </nav>
    <div class="container border rounded shadow" id="ozContainer" style="margin-top: 150px;background: var(--bs-body-bg);padding-bottom: 15px;">
        <h1 class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-battery-charging" style="margin-right: 5px;">
                <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"></path>
                <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"></path>
                <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"></path>
                <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"></path>
            </svg>Varta Home Storage (Engion)</h1><small class="form-text">Connect to Varta Storage via Corrently Edge.</small>
        <form id="deviceSettings" style="margin-top: 15px;">
            <div class="input-group"><span class="input-group-text">IP Address</span><input class="form-control" type="text" id="deviceIP" required=""><button class="btn btn-secondary" type="submit">Connect</button></div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=b4349cf7232e6b66621e089f2b9beee5"></script>
    <script src="assets/js/bs-init.js?h=f85385df9bc7fca4241bc1dbf53b9d61"></script>
    <script src="assets/js/varta-engion.js?h=b70e390af497ae9d16fb6d229107fc08"></script>
</body>

</html>